#mainMenuI {
    position: absolute;
    display: flex;
    flex-direction: column;
    /*left: 5vw;*/
}

#topbar {
    position: fixed;
    top: 0;
    width: 100%;
}

#cartAddButton {
    position: absolute;
    background: #ff4c35;
    width: 35vmin;
    height: 5vmin;
    border-radius: 0.5vmin;
    bottom: 1vmin;
    right: 1vmin;
    text-align: center;
    font-size: 4.5vmin;
    color: #ffffff;
}


#order {
    width: 100%;
    height: 100%;
}



#cart {
    width: 100%;
    height: 100%;
}

#cartI{
    position: absolute;
    left: 6vw;
}

/*#cartI {*/

/*    display: flex;*/

/*    flex-direction: column;*/

/*}*/

#imgHolder {
    position: absolute;
    top: 1vmin;
    left: 1vmin;
    height: 40vmin;
    width: 40vmin;
    background: #000000;
    border-radius: 1vmin;
}

#orderQwantity {
    position: absolute;
    bottom: 10vmin;
    left: 1vmin;
    width: 8vmin;
    height: 3vmin;
    text-align: center;
    font-size: 2.4vmin;
    border: solid lightgray 0.5px;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    border-radius: 0.5vmin;
}

#orderQwantity::placeholder {
    font-size: 2vmin;
    color: lightgray;
    font-family: arial;
}

#changeItemType {
    position: absolute;
    height: 3vmin;
    bottom: 10vmin;
    left: 10vmin;
    border: solid lightgray 0.5px;
    font-size: 2.5vmin;
    box-sizing: border-box;
    border-radius: 0.5vmin;
}

#backButton {
    position: absolute;
    width: 20vmin;
    height: 5vmin;
    background: #ff4c35;
    border-radius: 0.5vmin;
    top: 1vmin;
    right: 1vmin;
    text-align: center;
    font-size: 4.5vmin;
    color: #ffffff;
}

#itemInfoText {
    position: absolute;
    top: 42vmin;
    left: 1vmin;
    width: 50vmin;
    font-size: 2.5vmin;
    color: #000000;

}

.defoltOption {
    background: none;
}

.defoltOption:hover {
    background: none;
}

.ihA {
    display: flex;
    align-items: center;
}

.ihB {
    display: flex;
    justify-content: center;
}

.noResize {
    resize: none;
    outline: none;
    border: solid lightgray 0.5px;
    padding: 0px;

}

.noResize:focus,
.noResize:hover {
    outline: none;
    border: solid lightgray 0.5px;
}

.item {
    position: relative;
    background: #e8e8e8;
    border-radius: 2vmin;
    width: 90vw;
    height: 30vw;
    margin-left: 5vw;
    margin-top: 3vmin;
    margin-bottom: 3vmin;
    box-shadow: 5px 5px 5px #999999;
    transition: width 0.5s, height 0.5s, box-shadow 0.5s, margin-left 0.5s, margin-bottom 0.5s, margin-top 0.5s;
}

.item:hover {
    box-shadow: 10px 10px 5px #999999;
    width: 94vw;
    height: 34vw;
    margin-left: 3vw;
    margin-top: calc(3vmin - 2vw);
    margin-bottom: calc(3vmin - 2vw);
}

/*.iTypeA {*/

/*}*/

.defont {
    font-family: arial;

}

.itemPartA {
    position: relative;
}

.iTypePartA {
    height: 30vw;
    width: 30vw;
}


.hide {
    display: none;
}

.orderImg {
    /*box-sizing: border-box;*/
    /*margin: solid #000000 1px;*/
}

.imgTypeA {
    width: 40vmin;
}

.imgTypeB {
    height: 40vmin;
}

.cartItem {
    position: relative;
    display: inline-block;
    width: 43vw;
    height: 20vw;
    background: #e8e8e8;
    margin-right: 2vw;
    margin-top: 2vw;
    border-radius: 1vmin;
}

.qwantityCart {
    position: absolute;
    right: 1vmin;
    top: 1vmin;
    font-size: 3vmin;
    width: 22vw;
    text-align: right;
    color: #000000;
}

.nameCart {
    position: absolute;
    left: 1vmin;
    top: 1vmin;
    font-size: 3vmin;
    width: 22vw;
    text-align: left;
    color: #000000;
    
}

.imgCart {
    position: absolute;
    left: 1vmin;
    bottom: 1vmin;
    border-radius: 0.5vmin;
}

/*.imgOrderDisplay {*/

/*    display: flex;*/

/*    justify-content: center;*/

/*}*/

/*TODO: fix width and height*/

body {
    padding: 0px;
    margin: 0px;
    width: 98vw;
    height: 98vh;
}

body::-webkit-scrollbar {
    width: 2vmin;
}

/* Track */

body::-webkit-scrollbar-track {
    background: #d1d1d1;
    border-top-left-radius: 2vmin;
    border-bottom-left-radius: 2vmin;
}

/* Handle */

body::-webkit-scrollbar-thumb {
    background: #adadad;
    width: 2vmin;
    border-top-left-radius: 2vmin;
    border-bottom-left-radius: 2vmin;
}

/* Handle on hover */

body::-webkit-scrollbar-thumb:hover {
    background: #9e9e9e;
}
