#stop {
    position: fixed;
    z-index: 99999;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

#stopAll {
    position: fixed;
    z-index: 999999;
    height: 100%;
    width: 100%;
    background: #ffffff;
}


#mainMenuI {
    position: absolute;
    top: 6vmin;
    display: flex;
    flex-direction: column;
    /*left: 5vw;*/
}

#topbar {
    display: flex;
    position: fixed;
    z-index: 99995;
    width: 90%;
    height: 5vmin;
    background: #5b9aff;
    border-bottom-right-radius: 3vmin;
}

#TBMainMenu {
    position: relative;
    margin-left: 1vmin;
    margin-top: 0.5vmin;
    color: #ffffff;
    padding-top: 0.5vmin;
    font-size: 3vmin;
    height: 3.5vmin;
    width: 16vmin;
    text-align: center;
    border-radius: 0.5vmin;
}


#TBMainMenu:hover {
    background: #448cff;
}

#TBOpenCartButton {
    position: relative;
    margin-left: 4vmin;
    margin-top: 0.5vmin;
    color: #ffffff;
    padding-top: 0.5vmin;
    font-size: 3vmin;
    height: 3.5vmin;
    width: 7vmin;
    text-align: center;
    border-radius: 0.5vmin;
}

#TBOpenCartButton:hover {
    background: #448cff;
}

#cartAddButton {
    position: absolute;
    background: #ff4c35;
    width: 35vmin;
    height: 5vmin;
    border-radius: 0.5vmin;
    bottom: 1vmin;
    right: 1vmin;
    text-align: center;
    font-size: 4.5vmin;
    color: #ffffff;
}




#order {
    width: 100%;
    height: 100%;
}



#cart {
    width: 100%;
    height: 100%;
}

#cartI {
    position: absolute;
    top: 10vmin;
    left: 6vw;
}

/*#cartI {*/

/*    display: flex;*/

/*    flex-direction: column;*/

/*}*/

#namePOItem {
    position: absolute;
    top: 8vmin;
    left: 1vmin;
    height: 4vmin;
    /*width: 30vmin;*/
    font-size: 4vmin;
    color: #000000;
}

#imgHolder {
    position: absolute;
    top: 15vmin;
    left: 1vmin;
    height: 40vmin;
    width: 40vmin;
    background: #000000;
    border-radius: 1vmin;
}

#orderQwantity {
    position: absolute;
    bottom: 10vmin;
    left: 1vmin;
    width: 8vmin;
    height: 3vmin;
    text-align: center;
    font-size: 2.4vmin;
    border: solid lightgray 0.5px;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    border-radius: 0.5vmin;
}


#orderQwantity::placeholder {
    font-size: 2vmin;
    color: lightgray;
    font-family: arial;
}

#orderPriceTotle {
    position: absolute;
    bottom: 6vmin;
    left: 1vmin;
    height: 3vmin;
    font-size: 3vmin;
    color: #000000;
}

#orderDName {
    position: relative;
    margin: auto;
    width: 56vmin;
    /*margin-right: 1vmin;*/
    height: 4vmin;
    font-size: 2.8vmin;
    border: solid lightgray 0.5px;
    padding: 0px;
    /*margin: 0px;*/
    box-sizing: border-box;
    border-radius: 0.5vmin;
    margin-top: 2vmin;
}



#orderDName::placeholder {
    font-size: 2.8vmin;
    color: lightgray;
    font-family: arial;
}

#orderDEmail {
    position: relative;
    margin: auto;
    width: 56vmin;
    /*margin-right: 1vmin;*/
    height: 8vmin;
    font-size: 3vmin;
    border: solid lightgray 0.5px;
    padding: 0px;
    /*margin: 0px;*/
    box-sizing: border-box;
    border-radius: 0.5vmin;
    margin-top: 1vmin;
}

#orderDEmail::placeholder {
    font-size: 3vmin;
    color: lightgray;
    font-family: arial;
}


#orderDEmail::-webkit-scrollbar {
    width: 0.5vmin;
}

/* Track */

#orderDEmail::-webkit-scrollbar-track {
    background: #d1d1d1;
    border-top-left-radius: 0.5vmin;
    border-bottom-left-radius: 0.5vmin;
}

/* Handle */

#orderDEmail::-webkit-scrollbar-thumb {
    background: #adadad;
    width: 2vmin;
    border-top-left-radius: 0.5vmin;
    border-bottom-left-radius: 0.5vmin;
}

/* Handle on hover */

#orderDEmail::-webkit-scrollbar-thumb:hover {
    background: #9e9e9e;
}

#orderDPostCode {
    position: relative;
    margin: auto;
    width: 56vmin;
    /*margin-right: 1vmin;*/
    height: 4vmin;
    font-size: 3vmin;
    border: solid lightgray 0.5px;
    padding: 0px;
    /*margin: 0px;*/
    box-sizing: border-box;
    border-radius: 0.5vmin;
    margin-top: 1vmin;
}

#orderDPostCode::placeholder {
    font-size: 3vmin;
    color: lightgray;
    font-family: arial;
}

#orderDALA {
    position: relative;
    /*margin: auto;*/
    width: 27vmin;
    height: 8vmin;
    margin-right: 1vmin;
    margin-top: 1vmin;
    font-size: 3vmin;
    border: solid lightgray 0.5px;
    padding: 0px;
    /*margin: 0px;*/
    box-sizing: border-box;
    border-radius: 0.5vmin;
}

#orderDALA::placeholder {
    font-size: 3vmin;
    color: lightgray;
    font-family: arial;
}

#OrderDSelectState {
    position: relative;
    /*margin: auto;*/
    width: 27vmin;
    height: 8vmin;
    font-size: 2.5vmin;
    border: solid lightgray 0.5px;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    border-radius: 0.5vmin;

}



#POorPI {
    margin: 2vmin;
    position: relative;
    width: 40vmin;
    height: 5vmin;
    font-size: 4vmin;
    box-sizing: border-box;
    border: solid lightgray 0.5px;
    border-radius: 0.5vmin;
}

#orderButton {
    position: absolute;
    top: 6vmin;
    left: calc(50vw - 8vmin);
    width: 26vmin;
    height: 4.5vmin;
    padding-top: 0.5vmin;
    font-size: 4vmin;
    text-align: center;
    color: #ffffff;
    border-radius: 0.5vmin;
    background: #ff4c35;
}

#orderDeatails {
    position: fixed;
    width: 60vmin;
    height: 70vmin;
    background: #3d3d3d;
    /*box-shadow: 5px 5px 5px #999999;*/
    z-index: 100000;
    left: calc(50% - 30vmin);
    top: 10vmin;
    border-radius: 2vmin;

}

#orderDeatailsI {
    width: 60vmin;
    height: 30vmin;
    display: flex;
    flex-direction: column;
}

#orderDeatailsIA {
    width: 60vmin;
    height: 56vmin;
    margin-top: 5vmin;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

#orderDeatailsIA::-webkit-scrollbar {
    width: 2vmin;
}

/* Track */

#orderDeatailsIA::-webkit-scrollbar-track {
    background: #d1d1d1;
    border-top-left-radius: 2vmin;
    border-bottom-left-radius: 2vmin;
}

/* Handle */

#orderDeatailsIA::-webkit-scrollbar-thumb {
    background: #adadad;
    width: 2vmin;
    border-top-left-radius: 2vmin;
    border-bottom-left-radius: 2vmin;
}

/* Handle on hover */

#orderDeatailsIA::-webkit-scrollbar-thumb:hover {
    background: #9e9e9e;
}

#orderDeatailsIAI {
    display: flex;
    flex-direction: column;
}

#orderDeatailsIB {
    width: 60vmin;
    height: 60vmin;
    margin-top: 5vmin;
    display: flex;
    flex-direction: column;
}

#orderDeatailsIC {
    width: 60vmin;
    height: 60vmin;
    margin-top: 5vmin;
    display: flex;
    flex-direction: column;
    font-size: 3vmin;
    color: #ffffff;
}

#orderDOrderButton {
    position: relative;
    margin-right: 1vmin;
    width: 27vmin;
    height: 5vmin;
    background: #ff4c35;
    border-radius: 0.5vmin;
    text-align: center;
    font-size: 4.5vmin;
    color: #ffffff;
}

#orderDCancilButton {
    position: relative;
    margin-left: 1vmin;
    width: 27vmin;
    height: 5vmin;
    background: #bababa;
    border-radius: 0.5vmin;
    right: 0px;
    text-align: center;
    font-size: 4.5vmin;
    color: #ffffff;
}

#orderCorO {
    position: absolute;
    display: flex;
    left: 2vmin;
    bottom: 2vmin;
}

#orderDR {
    display: flex;
    margin: auto;
}

#TP {
    padding: 1vmin;
    color: #ffffff;
    font-size: 4vmin
}

#PP {
    padding: 1vmin;
    color: #ffffff;
    font-size: 4vmin
}


#changeItemType {
    position: absolute;
    height: 3vmin;
    bottom: 10vmin;
    left: 10vmin;
    border: solid lightgray 0.5px;
    font-size: 2.5vmin;
    box-sizing: border-box;
    border-radius: 0.5vmin;
}

#backButton {
    position: absolute;
    width: 20vmin;
    height: 5vmin;
    background: #ff4c35;
    border-radius: 0.5vmin;
    top: 8vmin;
    right: 1vmin;
    text-align: center;
    font-size: 4.5vmin;
    color: #ffffff;
}

/*FTP*/

#itemInfoText {
    position: absolute;
    top: 57vmin;
    left: 1vmin;
    width: 50vmin;
    font-size: 2.5vmin;
    color: #000000;

}



.removeFromCartButton {
    position: absolute;
    bottom: 1vmin;
    right: 1vmin;
    background: #ff4c35;
    width: 20vw;
    height: 3vmin;
    font-size: 3vmin;
    border-radius: 0.5vmin;
    color: #ffffff;
}

.defoltOption {
    background: none;
}

.defoltOption:hover {
    background: none;
}

.ihA {
    display: flex;
    align-items: center;
}

.ihB {
    display: flex;
    justify-content: center;
}

.noResize {
    resize: none;
    outline: none;
    border: solid lightgray 0.5px;
    padding: 0px;

}

.noResize:focus,
.noResize:hover {
    outline: none;
    border: solid lightgray 0.5px;
}

.item {
    position: relative;
    background: #e8e8e8;
    border-radius: 2vmin;
    width: 90vw;
    height: 30vw;
    margin-left: 5vw;
    margin-top: 3vmin;
    margin-bottom: 3vmin;
    box-shadow: 5px 5px 5px #999999;
    transition: width 0.5s, height 0.5s, box-shadow 0.5s, margin-left 0.5s, margin-bottom 0.5s, margin-top 0.5s;
}

.item:hover {
    box-shadow: 10px 10px 5px #999999;
    width: 94vw;
    height: 34vw;
    margin-left: 3vw;
    margin-top: calc(3vmin - 2vw);
    margin-bottom: calc(3vmin - 2vw);
}

/*.iTypeA {*/

/*}*/

.defont {
    font-family: arial;

}

.itemPartA {
    position: relative;
    display: inline-block;
    height: 100%;
    width: 33.3333333%;
}

.itemPartAA {
    margin-top: calc(100% - 30vw);
    position: relative;
    height: 15vw;
    width: 30vw;
    font-size: 5.5vmin;
    color: #000000;
    float: left;
}

.itemPartAB {
    position: relative;
    height: 15vw;
    width: 30vw;
    font-size: 4vmin;
    color: #000000;
    float: left;
}

.itemPartB {
    position: relative;
    display: inline-block;
    height: 100%;
    width: 66.6666667%;
}

.itemImg {
    height: 100%;
    border-top-right-radius: 2vmin;
    border-bottom-right-radius: 2vmin;
    float: right;
}

.itemClickP {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 10;
    height: 100%;
    width: 100%;
}


.hide {
    display: none;
}

.orderImg {
    /*box-sizing: border-box;*/
    /*margin: solid #000000 1px;*/
}

.imgTypeA {
    width: 40vmin;
}

.imgTypeB {
    height: 40vmin;
}

.cartItem {
    position: relative;
    display: inline-block;
    width: 43vw;
    height: 20vw;
    background: #e8e8e8;
    margin-right: 2vw;
    margin-top: 2vw;
    border-radius: 1vmin;
}

.qwantityCart {
    position: absolute;
    right: 1vmin;
    top: 1vmin;
    font-size: 3vmin;
    width: 22vw;
    text-align: right;
    color: #000000;
}

.nameCart {
    position: absolute;
    left: 1vmin;
    top: 1vmin;
    font-size: 3vmin;
    width: 22vw;
    text-align: left;
    color: #000000;

}

.imgCart {
    position: absolute;
    left: 1vmin;
    bottom: 1vmin;
    border-radius: 0.5vmin;
}

/*.imgOrderDisplay {*/

/*    display: flex;*/

/*    justify-content: center;*/

/*}*/

/*TODO: fix width and height*/

.noneSelecting {
    -webkit-user-select: none;
    /* Chrome/Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+ */
}

.II {
    padding: 1vmin;
    color: #ffffff;
    font-size: 2vmin
}


body {
    padding: 0px;
    margin: 0px;
    /*width: 98vw;*/
    /*height: 98vh;*/
}

body::-webkit-scrollbar {
    width: 2vmin;
}

/* Track */

body::-webkit-scrollbar-track {
    background: #d1d1d1;
    border-top-left-radius: 2vmin;
    border-bottom-left-radius: 2vmin;
}

/* Handle */

body::-webkit-scrollbar-thumb {
    background: #adadad;
    width: 2vmin;
    border-top-left-radius: 2vmin;
    border-bottom-left-radius: 2vmin;
}

/* Handle on hover */

body::-webkit-scrollbar-thumb:hover {
    background: #9e9e9e;
}
